<!-- navbar -->
<app-navbar></app-navbar>

<!-- connect with us -->
<div id="banner" class="container row">

    <!-- quota -->
    <div class="col-md-8" id="quotaBanner">
        <h1 id="head">START YOUR WORK WITH US</h1>
        <h3>Let's Connect with Us, We provide batter Service for your work :)</h3>
    </div>

    <!-- contact-us button -->
    <div class="col-md-3 d-flex justify-content-center" id="connect">
        <button mat-raised-button id="btn" routerLink='/contact-us'> Contact Us </button>
    </div>

</div>

<!-- footer -->
<app-footer></app-footer>