/* banner */
#banner {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  height: 200px;
  margin: 20px auto;
  border-radius: 10px;
}
#quotaBanner {
  margin: 60px auto auto 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#head {
  font-weight: 500;
}
#connect {
  margin: auto;
}
#btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
  background-color: #3931af;
  color: #fff;
}
