<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- find us -->
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h1 class="col_white pt2">ABOUT US</h1>
                <p class="pb-1 mat-body-1">Here, We Provide Labour Booking through your phone, Now People Booking any Kind of Labour without going Anyway</p>
            </div>

            <!-- links -->
            <div class=" col-sm-4 col-md  col-6 col">
                <h1 class="col_white pt2">QUICK LINKS</h1>
                <ul class="footer_ul_amrc">
                    <li class="mat-body-1"><i class="fas fa-external-link-alt"></i><a routerLink='/'>Home</a></li>
                    <li class="mat-body-1"><i class="fas fa-external-link-alt"></i><a routerLink='/book-labour'>Book Labour</a></li>
                    <li class="mat-body-1"><i class="fas fa-external-link-alt"></i><a routerLink='/prices'>Price</a></li>
                    <li class="mat-body-1"><i class="fas fa-external-link-alt"></i><a routerLink='/contact-us'>Contact Us</a></li>
                    <li class="mat-body-1"><i class="fas fa-external-link-alt"></i><a routerLink='/message'>Queries</a></li>
                    <li class="mat-body-1"><i class="fas fa-external-link-alt"></i><a routerLink='/order'>Orders</a></li>
                </ul>
            </div>

            <!-- links -->
            <div class=" col-sm-4 col-md  col-6 col">
                <h1 class="col_white pt2">CONTACT US</h1>
                <ul class="footer_ul_amrc">
                    <li class="mat-body-1"><i class="far fa-envelope"></i><a href="mailto: getlabour@gmail.com">getlabour@gmail.com</a></li>
                    <li class="mat-body-1"><i class="fas fa-phone-alt"></i><a href="tel: 9876543210">+91 98765 43210</a></li>
                    <li class="mat-body-1"><i class="fas fa-phone-alt"></i><a href="tel: 9764285310">+91 97642 85310</a></li>
                    <li class="mat-body-1"><i class="fas fa-map-marker-alt"></i><a>150 ft Ring Road, Rajkot</a></li>
                    <li class="mat-body-1"><i class="fab fa-google-plus-g"></i><a href="#">Google +</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- bottom quota -->
    <div class="ftr">
        <p class="text-center p-4">Copyright @2021 | Get Labour</p>
    </div>

</footer>